<h1>List of all posts</h1>
    <ul>
        <% @posts.each do |post| %>
            <li>
                <%= link_to post.title, post_path(id: post.id)  %>
                <%= link_to 'edit', edit_post_path(id: post.id) %>
                <%= link_to 'delete', post_path(id: post.id), method: :delete, data: {confirm: 'Are you sure?'} %>
                <%= link_to 'Author', author_path(id: post.author_id)  %>
            </li>
        <% end %>
    </ul>
    
    <hr />
    <%= link_to 'New post', new_post_path %>